@import 'vars.scss';

.cardInfo {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: $soft-white;

    &__wind {
        margin-top: 6px;
    }

    &__precipitation {
        margin-top: 6px;
    }
}

@media (min-width: 910px) {
    .cardInfo {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 5.2rem;
        color: $soft-white;
    
        &__wind {
            margin-top: 6px;
        }
    
        &__precipitation {
            margin-top: 6px;
        }
    }
}