@import 'vars.scss';

.forecast-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 44%;
    padding: 6px;
    border-radius: 12px;
    background-color: $soft-white;
    font-family: sans-serif;
    font-size: 2rem;

    &__date {
        font-weight: 700;
        font-size: 1.6rem;
    }

    &__condition-icon {
        // width: 100%;
    }

    &__temperature {
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-size: 3rem;

        &-max {
            font-weight: 700;
            // margin-inline: 4px;
            color: $soft-black;
        }

        &-min {
            font-weight: 500;
            color: $soft-grey;
        }
    }
}