@import 'vars.scss';

.search-input {
    height: 100px;
    min-width: 300px;
    width: 80vw;

    form {
        position: relative;
        display: flex;
        height: 40px;
        // background-color: blueviolet;
    }

    &__textbox {
        position: relative;
        top: 0px;
        height: 100%;
        width: 80%;
        border-width: 2px;
        border-radius: 8px 0px 0px 8px;
        border-color: $transparent-black;
        padding-inline: 10px;
        font-size: 2.6rem;
        background-color: $soft-white;

        &::placeholder {
            color: $soft-grey;
        }
    }

    &__button {
        position: relative;
        top: 0px;
        height: 100%;
        width: 20%;
        border-width: 0px;
        border-radius: 0px 8px 8px 0px;
        background-color: $transparent-black;
        background-image: url('https://api.iconify.design/ant-design/search-outlined.svg?color=%23ebebeb');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        transition: 200ms;

        &:hover {
            background-color: $soft-black;
            transition: 200ms;
        }
    }
}

@media (min-width: 600px) {
    .search-input {
        max-width: 70vw;

        form {
            height: 54px;
        }
    }
    
}

@media (min-width: 834px) {
    .search-input {
        max-width: 584px;

        form {
            height: 54px;
        }
    }
    
}