@import 'vars';

.temperature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
    color: $soft-white;

    &__icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 122px;
        width: 50%;

        &-img {
            position: absolute;
            height: 180px;
        }
    }

    h1 {
        font-size: 6rem;

        span {
            position: relative;
            top: -12px;
            font-size: 4rem;
        }
    }
}