.temperature {
    font-family: sans-serif;
    color: aliceblue;

    h1 {
        font-size: 6rem;

        span {
            position: relative;
            top: -12px;
            font-size: 4rem;
        }
    }
}