@import 'vars';

.temperature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-block: 6px;
    font-family: sans-serif;
    color: $soft-white;

    &__icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 122px;
        width: 50%;

        &-img {
            position: absolute;
            height: 120px;
        }
    }

    h1 {
        font-size: 6rem;
        margin-left: 8px;

        span {
            position: relative;
            bottom: 16px;
            font-size: 4rem;
        }
    }
}

@media (min-width: 600px) {
    .temperature {
        justify-content: start;
    }
}

@media (min-width: 910px) {
    .temperature {
        justify-content: start;

        &__icon {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 122px;
            width: 50%;
    
            &-img {
                position: absolute;
                height: 140px;
            }
        }
    
        h1 {
            font-size: 7.4rem;
            margin-left: 8px;
    
            span {
                position: relative;
                bottom: 22px;
                font-size: 4.4rem;
            }
        }
    }
}